# Ensemble Learning

## Initial Imports

In [107]:
import warnings
warnings.filterwarnings('ignore')

In [108]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [109]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split

## Read the CSV and Perform Basic Data Cleaning

In [110]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [111]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [112]:
le.fit(df["home_ownership"])
df["home_ownership"] = le.transform(df["home_ownership"])

In [113]:
le.fit(df["verification_status"])
df["verification_status"] = le.transform(df["verification_status"])

In [114]:
le.fit(df["issue_d"])
df["issue_d"] = le.transform(df["issue_d"])

In [115]:
le.fit(df["pymnt_plan"])
df["pymnt_plan"] = le.transform(df["pymnt_plan"])

In [116]:
le.fit(df["initial_list_status"])
df["initial_list_status"] = le.transform(df["initial_list_status"])

In [117]:
le.fit(df["next_pymnt_d"])
df["next_pymnt_d"] = le.transform(df["next_pymnt_d"])

In [118]:
le.fit(df["application_type"])
df["application_type"] = le.transform(df["application_type"])

In [119]:
le.fit(df["hardship_flag"])
df["hardship_flag"] = le.transform(df["hardship_flag"])

In [120]:
le.fit(df["debt_settlement_flag"])
df["debt_settlement_flag"] = le.transform(df["debt_settlement_flag"])

## Split the Data into Training and Testing

In [121]:
# Create our features
X = df.drop("loan_status", axis=1)

# Create our target
y = df["loan_status"]

In [122]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,1.812779,8.821371e+04,0.669994,0.805542,0.0,21.778153,0.217766,...,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04,0.0,0.0
std,10277.348590,0.048130,288.062432,0.941313,1.155800e+05,0.719105,0.714932,0.0,20.199244,0.718367,...,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04,0.0,0.0
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,0.000000,0.0,0.000000,0.000000,...,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02,0.0,0.0
25%,9000.000000,0.088100,265.730000,1.000000,5.000000e+04,0.000000,0.000000,0.0,13.890000,0.000000,...,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04,0.0,0.0
50%,15000.000000,0.118000,404.560000,1.000000,7.300000e+04,1.000000,1.000000,0.0,19.760000,0.000000,...,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04,0.0,0.0
75%,24000.000000,0.155700,648.100000,3.000000,1.040000e+05,1.000000,1.000000,0.0,26.660000,0.000000,...,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04,0.0,0.0
max,40000.000000,0.308400,1676.230000,3.000000,8.797500e+06,2.000000,2.000000,0.0,999.000000,18.000000,...,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06,0.0,0.0

In [123]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 85 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  int32
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  int32
 6   issue_d                     68817 non-null  int32
 7   pymnt_plan                  68817 non-null  int32
 8   dti                         68817 non-null  float64
 9   delinq_2yrs                 68817 non-null  float64
 10  inq_last_6mths              68817 non-null  float64
 11  open_acc                    68817 non-null  float64
 12  pub_rec                     68817 non-null  float64
 13  revol_bal                   68817 non-null  float64
 14  total_acc                   68817 non-null  float64
 15  initial_list_status         68817 non-null  int32
 16  out_prncp                   68817 non-null  float64
 17  out_prncp_inv               68817 non-null  float64
 18  total_pymnt                 68817 non-null  float64
 19  total_pymnt_inv             68817 non-null  float64
 20  total_rec_prncp             68817 non-null  float64
 21  total_rec_int               68817 non-null  float64
 22  total_rec_late_fee          68817 non-null  float64
 23  recoveries                  68817 non-null  float64
 24  collection_recovery_fee     68817 non-null  float64
 25  last_pymnt_amnt             68817 non-null  float64
 26  next_pymnt_d                68817 non-null  int32
 27  collections_12_mths_ex_med  68817 non-null  float64
 28  policy_code                 68817 non-null  float64
 29  application_type            68817 non-null  int32
 30  acc_now_delinq              68817 non-null  float64
 31  tot_coll_amt                68817 non-null  float64
 32  tot_cur_bal                 68817 non-null  float64
 33  open_acc_6m                 68817 non-null  float64
 34  open_act_il                 68817 non-null  float64
 35  open_il_12m                 68817 non-null  float64
 36  open_il_24m                 68817 non-null  float64
 37  mths_since_rcnt_il          68817 non-null  float64
 38  total_bal_il                68817 non-null  float64
 39  il_util                     68817 non-null  float64
 40  open_rv_12m                 68817 non-null  float64
 41  open_rv_24m                 68817 non-null  float64
 42  max_bal_bc                  68817 non-null  float64
 43  all_util                    68817 non-null  float64
 44  total_rev_hi_lim            68817 non-null  float64
 45  inq_fi                      68817 non-null  float64
 46  total_cu_tl                 68817 non-null  float64
 47  inq_last_12m                68817 non-null  float64
 48  acc_open_past_24mths        68817 non-null  float64
 49  avg_cur_bal                 68817 non-null  float64
 50  bc_open_to_buy              68817 non-null  float64
 51  bc_util                     68817 non-null  float64
 52  chargeoff_within_12_mths    68817 non-null  float64
 53  delinq_amnt                 68817 non-null  float64
 54  mo_sin_old_il_acct          68817 non-null  float64
 55  mo_sin_old_rev_tl_op        68817 non-null  float64
 56  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 57  mo_sin_rcnt_tl              68817 non-null  float64
 58  mort_acc                    68817 non-null  float64
 59  mths_since_recent_bc        68817 non-null  float64
 60  mths_since_recent_inq       68817 non-null  float64
 61  num_accts_ever_120_pd       68817 non-null  float64
 62  num_actv_bc_tl              68817 non-null  float64
 63  num_actv_rev_tl             68817 non-null  float64
 64  num_bc_sats                 68817 non-null  float64
 65  num_bc_tl                   68817 non-null  float64
 66  num_il_tl                   68817 non-null  float64
 67  num_op_rev_tl               68817 non-null  float64
 68  num_rev_accts               68817 non-null  float64
 69  num_rev_tl_bal_gt_0         68817 non-null  float64
 70  num_sats                    68817 non-null  float64
 71  num_tl_120dpd_2m            68817 non-null  float64
 72  num_tl_30dpd                68817 non-null  float64
 73  num_tl_90g_dpd_24m          68817 non-null  float64
 74  num_tl_op_past_12m          68817 non-null  float64
 75  pct_tl_nvr_dlq              68817 non-null  float64
 76  percent_bc_gt_75            68817 non-null  float64
 77  pub_rec_bankruptcies        68817 non-null  float64
 78  tax_liens                   68817 non-null  float64
 79  tot_hi_cred_lim             68817 non-null  float64
 80  total_bal_ex_mort           68817 non-null  float64
 81  total_bc_limit              68817 non-null  float64
 82  total_il_high_credit_limit  68817 non-null  float64
 83  hardship_flag               68817 non-null  int32
 84  debt_settlement_flag        68817 non-null  int32
dtypes: float64(76), int32(9)
memory usage: 42.3 MB

In [124]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [125]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [126]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [127]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler=scaler.fit(X_train)

In [128]:
# Scale the training and testing data

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [129]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=1)
rf_model = rf_model.fit(X_train_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [130]:
# Calculated the balanced accuracy score
from sklearn.metrics import accuracy_score
acc_score = accuracy_score(y_test, predictions)
acc_score

0.9959895379250218

In [131]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
display(cm_df)

          Predicted 0  Predicted 1
Actual 0           36           65
Actual 1            4        17100

In [132]:
# Print the imbalanced classification report
from sklearn.metrics import classification_report
print(classification_report_imbalanced(y_test, predictions, digits=5))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk    0.90000   0.35644   0.99977   0.51064   0.59695   0.33343       101
   low_risk    0.99621   0.99977   0.35644   0.99799   0.59695   0.37928     17104

avg / total    0.99565   0.99599   0.36021   0.99513   0.59695   0.37901     17205

In [133]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
importances_sorted = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
importances_sorted[:7]

[(0.06889544695030737, 'total_pymnt'),
 (0.06809326619937071, 'total_rec_int'),
 (0.06111818224033979, 'total_rec_prncp'),
 (0.06013301494612743, 'last_pymnt_amnt'),
 (0.05692471219840015, 'total_pymnt_inv'),
 (0.019042688224441683, 'dti'),
 (0.0179398573175023, 'installment')]

### Easy Ensemble Classifier

In [134]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import GradientBoostingClassifier
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    model = GradientBoostingClassifier(
        n_estimators=100,
        learning_rate=learning_rate,
        max_features=2,
        max_depth=3,
        random_state=1)
    model.fit(X_train_scaled,y_train.ravel())
    print("Learning rate: ", learning_rate)

    # Score the model
    print("Accuracy score (training): {0:.3f}".format(
        model.score(
            X_train_scaled,
            y_train.ravel())))
    print("Accuracy score (validation): {0:.3f}".format(
        model.score(
            X_test_scaled,
            y_test.ravel())))
    print()

Learning rate:  0.05
Accuracy score (training): 0.996
Accuracy score (validation): 0.996

Learning rate:  0.1
Accuracy score (training): 0.997
Accuracy score (validation): 0.995

Learning rate:  0.25
Accuracy score (training): 0.995
Accuracy score (validation): 0.993

Learning rate:  0.5
Accuracy score (training): 0.992
Accuracy score (validation): 0.991

Learning rate:  0.75
Accuracy score (training): 0.019
Accuracy score (validation): 0.018

Learning rate:  1
Accuracy score (training): 0.968
Accuracy score (validation): 0.965

In [135]:
model = GradientBoostingClassifier(
    n_estimators=500,
    learning_rate=0.05,
    max_features=5,
    max_depth=3,
    random_state=1)

# Fit the model
model.fit(X_train_scaled,y_train.ravel())

predictions = model.predict(X_test_scaled)

In [136]:
# Calculated the balanced accuracy score
acc_score = accuracy_score(y_test, predictions)
acc_score

0.9951758209822726

In [137]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
display(cm_df)

          Predicted 0  Predicted 1
Actual 0           30           71
Actual 1           12        17092

In [138]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions, digits=5))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk    0.71429   0.29703   0.99930   0.41958   0.54481   0.27598       101
   low_risk    0.99586   0.99930   0.29703   0.99758   0.54481   0.31767     17104

avg / total    0.99421   0.99518   0.30115   0.99418   0.54481   0.31742     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    The random forest classifier has the better balanced accuracy score.

2. Which model had the best recall score?

    The random forest classifier model has a better recall score with a score of 0.99599.
    
3. Which model had the best geometric mean score?

    The random forest classifier model has a better geometric mean score with a score of 0.59695

4. What are the top three features?

   The top three features are total_pymnt, total_rec_int, and total_rec_prncp.